.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: arial;
  background: #373737;
  min-height: 100vh;
}

.title {
  color: white;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 2.5em;
}

/* Адаптивность */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  
  .title {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.7em;
  }
}