/* .board {
  background-color: #2980b9;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  border: 4px solid #2c3e50;
} */

.board {
  padding: 25px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  color: white;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.row {
  display: flex;
}

.cell {
  width: 60px;
  height: 60px;
  margin: 5px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  border: 3px solid #494a4b;
}

.cell:hover {
  transform: scale(1.1);
  background-color: #ecf0f1;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2), 0 0 15px rgba(255, 255, 255, 0.5);
}

.cell.player1 {
  background: radial-gradient(circle at 35% 35%, #db6154, #891d12);;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  /* border: 3px solid #c0392b; */
}

.cell.player2 {
  background: radial-gradient(circle at 35% 35%, #4fa4dd, #1a5b85);;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  /* border: 3px solid #2980b9; */
}

/* Адаптивность */
@media (max-width: 768px) {
  .cell {
    width: 45px;
    height: 45px;
    margin: 3px;
  }
  
  .board {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .cell {
    width: 35px;
    height: 35px;
    margin: 2px;
  }
}